

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
</head>
<body>

    

    <table border="1" height="100px" width="1340px">

        <tr align="center" height="100px">


            <td colspan="2">
                <h1>TutionX</h1> 
             </td>
          

            <td colspan="8"  align="right">

                <a href="jobs.php"> Tution Jobs || </a>

                <a href="premiumMember.php">  Premium Members || </a>

                <a href="courses.php"> Courses || </a>

                <a href="registration.php"> Registers ||  </a>

                <a href="login.php"> Login |</a>

           </td>

       </tr>
    </table>

   
    
</body>
</html>
